@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/* PAGE CONFIGURATION */
* {
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR CONFIGURATION */

.navbar {
  height: 4rem;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #123141;
  justify-content: space-around;
}

.navbar__logo {
  font-size: 1.8rem;
}

.navbar__links__a {
  color: inherit;
  text-decoration: none;
}

.navbar__links__item {
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
  transition: all 0.3s ease-in-out;
}

.navbar__links__item:hover {
  color: #dce7eb;
  transform: scale(1.1);
}

/* MAIN CONTENT CONFIGURATION */

.container {
  width: 54rem;
  margin: 0 auto;
  margin-top: 2rem;
}

/* FORM CONFIGURATION */

.form__input {
  width: 100%;
  height: 45px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  /* margin-bottom: 1.4rem; */
  caret-color: #123141;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
}

.form__input:focus,
.form__input:valid {
  border-color: #123141;
}

.button__container {
  height: 2rem;
  display: flex;
  justify-content: end;
}

.button {
  position: relative;
  width: 6rem;
  border: none;
  height: 2.4rem;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 0.4rem;
  background-color: #123141;
  transition: ease-in-out 0.1s;
}

.button:hover {
  transform: scale(1.05);
  background-color: #144f6c;
}

.cancel__button {
  position: relative;
  width: 6rem;
  border: none;
  height: 2.4rem;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 0.4rem;
  background-color: #ddd;
  transition: ease-in-out 0.1s;
}

.cancel__button:hover {
  transform: scale(1.05);
  background-color: #7c8488;
}

.button__content {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.cancel__button__content {
  color: #123141;
  font-weight: 500;
  text-transform: uppercase;
}

.button__loading .button__content {
  visibility: hidden;
  opacity: 0;
}

.button__loading::after {
  content: "";
  position: absolute;
  display: flex;
  width: 0.8rem;
  height: 0.8rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 0.3rem solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: loading__animation 1s ease-in-out infinite;
}

@keyframes loading__animation {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.error__message {
  margin-bottom: 1.2rem;
  color: #ff1155;
}

.review {
  border-color: #ff1155;
}

/* TABLE CONFIGURATION */

.content {
  margin-top: 1.4rem;
  border: 1px solid #0a2635;
  border-collapse: collapse;
  margin-bottom: 3rem;
  width: 100%;
}

.thead {
  color: #fff;
  height: 3rem;
  background-color: #144f68;
}

.center {
  height: 3rem;
  font-weight: 500;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

.iconCursor {
  cursor: pointer;
}

/* MODAL CONFIGURATION */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d60;
  padding-top: 3rem;
}

.modal__content {
  border-radius: 1.1rem;
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid inherit;
  width: 60%;
}

.modal__container {
  padding: 1rem;
  text-align: center;
}

.close {
  position: absolute;
  right: 18.4rem;
  top: 7.7rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: #888;
  transition: ease-in-out 0.2s;
}

.close:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #0a2635;
}

.modal__paragraph {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 1.3rem 0;
}

.clear__modal {
  margin: 0.8rem 0 0.8rem 34%;
}

.clear__modal {
  content: "";
  clear: both;
  display: table;
}

.delete__button {
  position: relative;
  width: 6rem;
  border: none;
  height: 2.4rem;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 0.4rem;
  background-color: #991111;
  transition: ease-in-out 0.1s;
}

.delete__button:hover {
  transform: scale(1.05);
  background-color: #992233;
}
